﻿@model IEnumerable<WebApplication1.Models.Student>
    
    

@{
    ViewBag.Title = "Home Page";
   

}
<h2>Student details</h2>

<div class="row">
    <div class="col-md-12">



@Html.Grid(Model).Named("StudentGrid").Columns(c =>
{
    c.Add(x => x.Rollno).Titled("Rollno");
    c.Add(x => x.Sname).Titled("Sname").Sortable(true);
    c.Add(x => x.Std).Titled("Std").Sortable(true);
}).WithPaging(3).EmptyText("No data Found")

        </div>
    </div>











